@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 231 60% 99%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 231 60% 99%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 231 60% 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 231 60% 91%;
    --muted-foreground: 225.2 38.4% 33.1%;
    --accent: 36 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 90%;
    --ring: 231 48% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 230 15% 15%;
    --foreground: 210 40% 98%;
    --card: 230 15% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 230 15% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 68%;
    --primary-foreground: 231 48% 18%;
    --secondary: 230 15% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 230 15% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 36 100% 60%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 230 15% 25%;
    --input: 230 15% 25%;
    --ring: 231 48% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
